*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;

}

#root {
    display: flex;
    justify-content: right;
    font-size: 32px;
}

.App {
    width: 800px;

}

#select {
    width: 200px;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid teal;
}